:root {
  --primary-color: rgba(0, 119, 130, 0.62);
  --border-color: rgba(0, 119, 130, 0.447);
  --box-shadow-color: rgba(0, 119, 130, 0.447);
  --background-overlay: rgba(0, 0, 0, 0.6);
  --hover-box-shadow: skyblue 0px 0px 10px;
}

@keyframes bounceSlideIn {
  0% {
    opacity: 0;
    transform: translateY(5px) scale(1);
  }
  60% {
    opacity: 1;
    transform: translateY(-5px) scale(1.01);
  }
  80% {
    transform: translateY(5px) scale(0.99);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

.card {
  padding: 12px;
  width: 100%;
  max-width: 600px;
  min-height: 300px;
  max-height: 600px;
  margin: 1rem auto;
  border: 1px solid var(--border-color);
  background-color: var(--primary-color);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 8px 14px var(--box-shadow-color);
  position: relative;
  opacity: 0;
  transform: translateY(30px);
  animation: bounceSlideIn 0.7s ease-out forwards;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}
.card.loaded {
  opacity: 1;
  transform: translateY(0);
}

.imageContainer {
  border-radius: 8px;
  position: relative;
  width: 100%;
  padding-top: 75%;
  overflow: hidden;
  min-height: 200px;
  min-width: 200px;
}

.imageContainer img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.cardContent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--background-overlay);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.card:hover .cardContent {
  opacity: 1;
}

.favouriteButton {
  position: absolute;
  bottom: 8px;
  right: 8px;
  background: rgba(0, 0, 0, 0);
  border: none;
  border-radius: 50%;
  padding: 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 42px;
  width: 42px;
  justify-content: center;
}

.favouriteButton:hover {
  box-shadow: var(--hover-box-shadow);
}

.favouriteIcon {
  width: 24px;
  height: 24px;
}

.filled {
  filter: brightness(0) saturate(100%) invert(39%) sepia(82%) saturate(4312%)
    hue-rotate(352deg) brightness(98%) contrast(97%);
}

.imageTitle {
  margin: 0;
  font-size: 0.9rem;
  font-weight: 300;
  color: white;
  text-align: center;
  padding: 0.5rem 1rem;
  background: rgba(0, 0, 0, 0.7);
  border: 1px solid #ddd;
  border-radius: 12px;
}

@media (min-width: 600px) {
  .card {
    max-width: 500px;
    width: calc(50% - 1rem);
  }

  .favouriteButton {
    padding: 0.75rem;
  }

  .favouriteIcon {
    width: 28px;
    height: 28px;
  }

  .imageTitle {
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
  .card {
    width: 300px;
  }

  .favouriteButton {
    padding: 1rem;
  }

  .favouriteIcon {
    width: 32px;
    height: 32px;
  }

  .imageTitle {
    font-size: 1.1rem;
  }
}
