.imageList {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
  margin-top: 8rem;
  align-items: stretch;
}

@media (min-width: 600px) {
  .imageList {
    gap: 1.5rem;
    padding: 0 2rem;
  }

  .card {
    width: calc(50% - 1.5rem);
  }
}

@media (min-width: 1024px) {
  .imageList {
    gap: 2rem;
    padding: 0 3rem;
  }

  .card {
    width: calc(33.33% - 2rem);
  }
}
